.main {
  display: grid;
  grid-template-columns: 1.7fr 5fr 3fr;
  grid-column-gap: 1.25rem;
  padding-top: 1.25rem;
}
.main-left-cate__block {
  padding: 0.9375rem 0;
}
.main-left-cate__item,
.main-left__item {
  padding: 0 0.625rem;
}
.main-left-cate__item ~ .main-left-cate__item,
.main-left__item ~ .main-left__item {
  margin-top: 0.875rem;
}
.main-left-cate__item a,
.main-left__item a {
  display: flex;
  align-items: center;
}
.main-left-cate__item-img {
  height: 1.25rem;
  width: auto;
  margin-right: 0.625rem;
}
.main-left-cate__item-title {
  font-size: 0.875rem;
}
.main-left__item-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 0.625rem;
}
.main-left__item-title {
  font-size: 0.75rem;
}
.main-left__title {
  font-size: 0.875rem;
  padding: 0.625rem 0;
  margin: 0 0.625rem 0.625rem;
}
.main-left__title--line {
  border-bottom: 1px solid #e7e7e7;
}
.main-left__content {
  padding-bottom: 1rem;
}
.main-left-rating__item-point {
  font-size: 0.75rem;
  flex-shrink: 0;
  margin-left: 0.625rem;
}
.main-left-hot-topic__link {
  width: fit-content;
}
.main-center-block {
  padding: 1.5rem 0.75rem;
}
.main-center-block__header-avar {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.625rem;
}
.main-center-block__header,
.main-center-block__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-center-block__header-info a,
.main-center-block__header-btn,
.main-center-block__footer-interact {
  display: flex;
  align-items: center;
}
.main-center-block__header-btn {
  cursor: pointer;
  padding: 0.5rem;
}
.main-center-block__header-btn img {
  width: 1.25rem;
  height: auto;
}
.main-center-block__header-follow {
  display: inline-block;
  margin-left: 0.625rem;
  font-size: 0.75rem;
}
.main-center-block figure {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  margin-top: 0.625rem;
}
.main-center-block__footer-detail {
  font-size: 0.875rem;
  color: #002c39;
}
.main-center-block__footer-icon {
  color: #0094ff;
  font-size: 0.875rem;
  cursor: pointer;
}
.main-center-block__footer-cmt {
  margin-left: 1rem;
}
.main-center-block__footer-count {
  font-size: 0.875rem;
}
