.main {
  display: grid;
  grid-template-columns: 1.7fr 5fr 3fr;
  grid-column-gap: 1.25rem;
  padding-top: 1.25rem;
  position: relative;
}
.main-left-cate__block {
  padding: 0.9375rem 0;
}
.main-left-cate__item,
.main-left__item {
  padding: 0 0.625rem;
}
.main-left-cate__item ~ .main-left-cate__item,
.main-left__item ~ .main-left__item {
  margin-top: 0.875rem;
}
.main-left-cate__item a,
.main-left__item a {
  display: flex;
  align-items: center;
}
.main-left-cate__item-img {
  height: 1.25rem;
  width: auto;
  margin-right: 0.625rem;
}
.main-left-cate__item-title {
  font-size: 0.875rem;
}
.main-left__item-img {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  flex-shrink: 0;
  margin-right: 0.625rem;
}
.main-left__item-title {
  font-size: 0.75rem;
}
.main-left__title {
  font-size: 0.875rem;
  padding: 0.625rem 0;
  margin: 0 0.625rem 0.625rem;
}
.main-left__title--line {
  border-bottom: 1px solid #e7e7e7;
}
.main-left__content {
  padding-bottom: 1rem;
}
.main-left-rating__item-point {
  font-size: 0.75rem;
  flex-shrink: 0;
  margin-left: 0.625rem;
}
.main-left-hot-topic__link {
  width: fit-content;
}
.main-center-block {
  padding: 1.5rem 0.75rem;
}
.main-center-block__header-avar {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 0.625rem;
}
.main-center-block__header,
.main-center-block__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-center-block__header-info a,
.main-center-block__header-btn,
.main-center-block__footer-interact {
  display: flex;
  align-items: center;
}
.main-center-block__header-btn {
  cursor: pointer;
  padding: 0.5rem;
}
.main-center-block__header-btn img {
  width: 1.25rem;
  height: auto;
}
.main-center-block__header-follow {
  display: inline-block;
  margin-left: 0.625rem;
  font-size: 0.75rem;
}
.main-center-block figure {
  border-radius: 0.375rem;
  overflow: hidden;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  margin-top: 0.625rem;
}
.main-center-block__footer-detail {
  font-size: 0.875rem;
  color: #002c39;
}
.main-center-block__footer-icon {
  color: #0094ff;
  font-size: 0.875rem;
  cursor: pointer;
}
.main-center-block__footer-cmt {
  margin-left: 1rem;
}
.main-center-block__footer-count {
  font-size: 0.875rem;
}
.main-center-articles-second {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 1.25rem;
}
.weather-temperture {
  font-size: 3rem;
  position: relative;
}
.weather-temperture:after {
  content: 'o';
  position: absolute;
  font-size: 1rem;
}
.weather-temperture__sapo {
  font-size: 0.875rem;
  border-left: 1px solid #1a1a1a;
  margin-left: 1.25rem;
  padding-left: 0.375rem;
}
.weather-wrapper {
  padding: 1rem 1.25rem;
}
.weather-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}
.weather-city {
  font-size: 0.875rem;
}
.weather-district {
  font-size: 0.75rem;
  margin-top: 0.625rem;
}
.weather-noon__img img{
  width: 2.5rem;
  height: auto;
}
.weather-detail-temperture {
  font-size: 0.875rem;
  position: relative;
}
.weather-detail-temperture:after {
  content: 'o';
  position: absolute;
  font-size: 0.625rem;
}
.weather-detail {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1.25rem;
}
.weather-noon,
.weather-afternoon,
.weather-night {
  text-align: center;
}
.weather-noon__content-time {
  font-size: 0.75rem;
}
.weather-line {
  width: 70%;
  height: 1px;
  margin: auto;
  background: #f4f4f4;
}
.price-wrapper {
  padding: 1rem 0.625rem;
}
.price-item {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 0.625rem 0;
  border-bottom: 1px solid #c4c4c436;
}
.price-item:last-child {
  border-bottom: none;
}
.price-increase {
  color: #1A946F;
}
.price-decrease {
  color:#FF0000;
}
.main-right-theme {
  display: flex;
  flex-wrap: wrap;
}
.main-right-theme-btn {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin: 0.5rem;
}
.main-right-vote__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem 0;
}
.main-right-vote__item-input {
  cursor: pointer;
}
.radio-input {
  display: none;
}

.radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  border: 1px solid #C4C4C4;
  cursor: pointer;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.radio-input:checked+.radio-label {
  background-color: #DA8E33;
  border: transparent;
}
.main-right-vote-line {
  height: 1px;
  background: #e7e6e6;
  margin: 1.25rem;
}
.main-right-vote-result__title {
  cursor: pointer;
}
.footer {
  display: grid;
  grid-template-columns: 1.7fr 5fr 3fr;
  grid-column-gap: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  font-size: 0.75rem;
}
.footer-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3.75rem;
  position: relative;
}
.footer-center::before {
  content: '';
  position: absolute;
  width: 0.5px;
  height: 100%;
  background: #fff;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.footer-center-item p {
  line-height: 22px;
}
.main-right-category,
.header-right-bar {
  display: none;
}
.menu-mb-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgba($color:#000,$alpha: 0.5);
  z-index: 101;
  visibility: collapse;
}
.menu-mb-wrapper.open {
  visibility: visible;
  transition: all 0.02s linear;
  -webkit-transition: all 0.02s linear;
  -moz-transition: all 0.02s linear;
  -ms-transition: all 0.02s linear;
  -o-transition: all 0.02s linear;
}
.menu-mb-field {
  max-width: 20rem;
  width: 100%;
  padding: 0.9375rem;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}
.menu-mb-field.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transition: transform 0.2s linear;
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
}
.close-menu-mb {
  margin-left: auto;
}
.menu-mb-item {
  padding: 0.625rem 0;
  border-bottom: 1px solid #dbdbdb59;
}
.menu-mb-item:last-child {
  border-bottom: none;
}
.menu-mb-item__img {
  height: 1.25rem;
  width: auto;
  margin-right: 0.625rem;
}
.back-top {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #DA8E33;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: collapse;
}
.sidebar{
  will-change: min-height;
}

.sidebar__inner{
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
  will-change: position, transform;
}