.header-right-notifi {
    position: relative;
}

.header-right-notifi:after {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: red;
    top: 3px;
    right: 3px;
    z-index: 2;
}
.header-right-notifi.active:after {
    content: none;
}
.header-right-user {
    position: relative;
}
.header-right-user img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.header-right-notifi__content {
    position: absolute;
    right: 0;
    top:100%;
    padding: 1.25rem 0.75rem;
    width: 300px;
    display: none;
    border: 1px solid #dedede;
    margin-top: 0.625rem;
}
.header-right-notifi__content.open {
    display: block;
}
.header-right-notifi__item-img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 0.625rem;
}
.header-right-notifi__item + .header-right-notifi__item {
    margin-top: 1rem;
}
.header-right-user__content {
    position: absolute;
    right: 0;
    top: 100%;
    width: 11.25rem;
    padding: 0 0.875rem;
    border: 1px solid #dedede;
    margin-top: 0.625rem;
    display: none;
}
.header-right-user__content.open {
    display: block;
}
.header-right-user__content--item {
    padding: 0.625rem 0;
    border-bottom: 1px solid #dedede;
}
.header-right-user__content--logout {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.personal-profile__img {
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.personal-profile-statistical {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.25rem;
}
.personal-armorial__img {
    width: 2.5rem;
    height: auto;
    margin-bottom: 0.5rem;
}
.personal-armorial__img + .personal-armorial__img {
    margin-left: 0.5rem;
}
.personal-armorial {
    flex-wrap: wrap;
}
.person-top-center__img {
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    flex-shrink: 0;
    margin-right: 0.875rem;
}
.person-top-center__text {
    flex: 1;
    border-radius: 999px;
    border: 1px solid #dedede;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
    padding: 0.625rem 1rem;
    color: #dedede;
    cursor: pointer;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.person-top-center__text:hover {
    background: #dedede70;
}